<div class="index-product">

  <%= image_tag 'logo-tri.png', :style => 'width: 50px;' %>
  <h4>Pack</h4>

  <hr>

  <span>$36</span>
  <span class="little-ital">Starting At</span>

  <hr>
  6 Pack or 12 Pack
  <hr>
  10oz or 16 oz bottles
  <hr>
  mix/match flavors
  <hr>
  2-day delivery
  <hr>

  <%= link_to 'Order A Pack', '/', :class => 'button' %>

</div>
