<div class="index-product">

  <%= image_tag 'logo-tri.png', :style => 'width: 50px;' %>
  <h4></h4>

  <hr class="small-hr">

  <span class="price" style="font-size: 34px;"></span>
  <span class="text" style="margin-bottom: 70px;">STARTING AT</span>

  <hr class="thin-grey">
  <p class="desc1"></p>
  <hr class="thin-grey">
  <p class="desc2"></p>
  <hr class="thin-grey">
  <p class="desc3"></p>
  <hr class="thin-grey">

  <%#= link_to 'Order A Pack', '/products', :class => 'button' %>
  <div class="button store-closed-order"></div>

</div>
