<div class="wrapper white">

  <h2>Every Week, We Squeeze...</h2>

  <div class="stat">
    <div class="number">339</div> <div class="food">LEMONS</div>
  </div>

  <div class="stat">
    <div class="number">281</div> <div class="food">LIMES</div>
  </div>

  <div class="stat">
    <div class="number">505</div> <div class="food">ORANGES</div>
  </div>

  <div class="stat">
    <div class="number">15</div> <div class="food">LBS. OF GINGER</div>
  </div>

  <div class="stat">
    <div class="number">66</div> <div class="food">BEETS</div>
  </div>

  <div class="stat">
    <div class="number">703</div> <div class="food">CARROTS</div>
  </div>

  <div class="stat">
    <div class="number">1140</div> <div class="food">APPLES</div>
  </div>

  <div class="stat">
    <div class="number">255</div> <div class="food">PEARS</div>
  </div>

  <div class="stat">
    <div class="number">112</div> <div class="food">CUCUMBERS</div>
  </div>

  <div class="stat">
    <div class="number">130</div> <div class="food">LBS. OF KALE</div>
  </div>

  <div class="stat">
    <div class="number">47</div> <div class="food">LBS. OF SPINACH</div>
  </div>

  <div class="stat">
    <div class="number">89</div> <div class="food">LBS. OF CELERY</div>
  </div>

</div>
