<div id="store-container">

  <table>
    <tr>
      <td>TYPE</td>
      <td>QUANTITY</td>
    </tr>
    <!-- juice.each do -->
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>


  <table>
    <tr>DELIVERY METHOD</tr>
    <!-- user.delivery_method do -->
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
  </table>

  <table>
    <tr>PAYMENT METHOD</tr>
    <!-- juice.payment_method do -->
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
  </table>

  <div class="button">BUY</div>

</div>