<div id="ingredients-right">

  <ul>
    <li class="flavor" data-num="1">Flavor 1 <span class='ex_or_col'>+</span></li>
    <hr>

    <li class="description" data-num="1">some stuff some stuff some stuff some stuff some stuff some stuff some stuff some stuff some stuff </li>

    <li class="flavor" data-num="2">Flavor 2 <span class='ex_or_col'>+</span></li>
    <hr>

    <li class="description" data-num="2">some stuff some stuff some stuff some stuff some stuff some stuff some stuff some stuff </li>

    <li class="flavor" data-num="3">Flavor 3 <span class='ex_or_col'>+</span></li>
    <hr>

    <li class="description" data-num="3">some stuff some stuff some stuff some stuff some stuff some stuff some stuff some stuff </li>

    <li class="flavor" data-num="4">Flavor 4 <span class='ex_or_col'>+</span></li>
    <hr>

    <li class="description" data-num="4">some stuff some stuff some stuff some stuff some stuff some stuff some stuff some stuff </li>
  </ul>
  <div class="clearfix"></div>
</div>
