<div id="ingredients-right">

  <ul>
    <li class="flavor" data-num="1">SWEET GREENS <span class="flavor-detail">(Pear/Cucumber/Kale/Orange/Collards/Swiss Chard/Lemon/Mint)</span><span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="1">Get some greens in your life but without the challenge on your pallet.  This green juice is a beautiful & incredibly balanced combination of both organic fruits & vegetables.
      One of our most popular blends—The Sweet Greens was designed with everyone in mind – from novices to veterans alike – this juice is for everyone!  Taste & discover for yourself!</li>

    <li class="flavor" data-num="2">ALG <span class="flavor-detail">(Apple/Lemon/Ginger)</span><span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="2">This is our cult classic– Addiction begins the minute it hits your lips.  Like a super-boosted lemonade with a hint of spice
      – this blend never fails to rejuvenate the spirit. The Apple/Lemon/Ginger is the perfect energizing, immune-boosting, alkalizing & anti-inflammatory elixir.  Highly recommended first thing in the morning!</li>

    <li class="flavor" data-num="3">ALL GREENS <span class="flavor-detail">(Kale/Swiss Chard/Cucumber/Celery/Collard Greens/Parsley/Lemon/Ginger)</span><span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="3">Go big or go home.  Our most nutrient dense & alkalizing formula – the All Greens is refreshlingly
      balanced and chock full of life.  All of the dark leafy greens in this recipe are sourced locally right here in Lancaster County, Pennsylvania – the most fertile soil in the world.  Drink it in!</li>

    <li class="flavor" data-num="4">Kale/Spinach/Apple/Lemon <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="4">Also known as “A Million Bucks” this is the simple green juice formula that has converted even the most wary of green juice consumers.  The perfect ratio of fruit & vegetable. *Note:  This is the one for baby boomers* </li>

    <li class="flavor" data-num="5">Grapefruit/Orange/Pineapple <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="5">Cellular restoration in a bottle.  This Vitamin C rich formula tastes like a tropical paradise.  Packed with copious amounts of living enzymes & antioxidants from the organic citrus–
      this juice is excellent for your skin, tremendously supportive of your immune system & overall very alkalizing – helping to create an environment in your body where disease cannot thrive. </li>

    <li class="flavor" data-num="6">WATERMELON <span class="flavor-detail">(Watermelon/Lemon/Mint)</span> <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="6">The refreshing taste of summer -- our melodic take on watermelons quenches your thirst and leaves you with a burst of mint flavor.  This is, however, not only for the self indulgent. Along with various other phytonutrients,
      this juice is packed with lycopene (more tomatoes) a powerful antioxidant that has been proven to prevent various cancers and other illness.</li>

    <li class="flavor" data-num="7">BEET <span class="flavor-detail">(Beet/Carrot/Apple/Ginger)</span> <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="7">Our beet elixir is one that is close to our hearts. The sweet earthy richness of beets contain betalains, a class of phytonutrients that provides antioxidant support,  is anti-inflammatory, and also detoxifying. With a complex and pleasant taste comes scientifically backed benefits to cardiovascular health,
       as well as performance enhancing effects for athletes.  The juice concludes with a crisp ginger flavor, taking the anti-inflammatory benefits to a new level. </li>

    <li class="flavor" data-num="8">LIME GREENS <span class="flavor-detail">(Apple/Cucumber/Celery/Kale/Swiss Chard/Collards/Lime/Parsley)</span> <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="8">With kale, swiss chard, and collard greens headlining this juice, this recipe is teeming full of chlorophyll and other phytonutrients vital to cellular function. Proven to promote general healing time within the body,
      as well as neutralize toxic metals, environmental pollutants, and carcinogens, chlorophyll is something to be consumed on a daily basis. While being a super green juice, the lime juice suddenly clears your palate, abruptly concluding the abundance of nourishing leafy greens.</li>

    <li class="flavor" data-num="9">YOUNG THAI COCONUT SHAKE <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="9">The highly sought after young thai coconut shake does not disappoint. The coconut water, referred to as the “dew from the heavens” by Hawaiians, is blended solely with the coconut meat, taking this beverage to new heights both nutritionally and flavor.
       The water, not only rich in anti-oxidants and phytonutrients, is full of cytokinins (plant hormones) which are proven to have anti-aging and anti-cancer properties. The coconut meat, or the “kernel”, is full of minerals like copper, iron and manganese. It is also full of protein, and contains essential B-complex  vitamins that the body requires from external sources to replenish.</li>
  </ul>

  <div class="clearfix"></div>
</div>
