<div id="ingredients-right">

  <ul>
    <li class="flavor" data-num="1">Flavor 1 <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="1">lemonsome stuff some stuff some stuff some stuff some stuff some stuff some stuffe stuff </li>

    <li class="flavor" data-num="2">Flavor 2 <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="2">applesome stuff some stuff some stuff some stuff some stuff some stuff some stuff some stuff </li>

    <li class="flavor" data-num="3">Flavor 3 <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="3">sgingerome stuff some stuff some stuff some stuff some stuff some stuff some stuff some stuff </li>

    <li class="flavor" data-num="4">Flavor 4 <span class='ex_or_col'>+</span><hr></li>
    <li class="description force-p" data-num="4">orangesome stuff some stuff some stuff some stuff some stuff some stuff some stuff some stuff </li>
  </ul>

  <div class="clearfix"></div>
</div>
