<div id="contact-container">

  <div class="page-header">
    <h2>Contact Us</h2>

    <h3>HOME / <span>CONTACT</span></h3>
  </div>

  <div class="container intro">
    <h2>WE LOVE TO LISTEN</h2>

    <p>We like to think of our juice as a gateway to new experiences. Whether you're a customer, friend, or just want to
      say hi, we always love hearing from you. Just fill out our message form or stop in during business hours.</p>
  </div>

  <div class="container locations">
    <div class="retail"></div>
    <div class="pickup"></div>

    <div class="map"></div>
  </div>

  <div class="container retail">
    <h2>Retail locations</h2>
  </div>

  <div class="container pickup">
    <h2>Pickup locations</h2>
  </div>

  <div class="container email">
    <h2>Send a Message</h2>
  </div>


</div>
