<div id="home-container">

  <div class="container">
    <h1>WELCOME TO RIJUICE</h1>
    <h3>Life begins from within.</h3>
    <%= button_to 'Find Your Juice', '/products' %>
  </div>

  <div class="container">
    <h2>THE JUICE YOU WANT, WHEN YOU WANT IT</h2>
    <span>Our products.</span>
    <p>genersal juice intro copy ipsum lorem doler osldlweeajfsafsdgsfgsdar</p>
  </div>

  <div class="container">
    <div class="index-product-container">
      <h4>Pack</h4>
    </div>
    <div class="index-product-container">
      <h4>Case</h4>
    </div>
    <div class="index-product-container">
      <h4>Cleanse</h4>
    </div>

    <%= link_to 'View All Products', '/products' %>
  </div>

  <div class="container">
    <h2>Who We Are</h2>
    <p>Lorem Ipsum Doler some dope shit u never heard</p>
    <%= button_to 'Our Locations', '/' %>
  </div>

  <div class="container">
    <h2>What's In Rijuice?</h2>
    <h3>Our ingredients</h3>
    <div class="index-ingredients leftt">
        <h2>Farm to bottle as quickly as possible</h2>
      <hr>
      <p>All of our juices are 100% vegan, gluten free, animal free, all dat good shit.</p>
      <p>Lorem Ipsum Doler some dope shit u never heardLorem Ipsum Doler some dope shit u never heard</p>
    </div>
    <div class="index-ingredients right">
        <%= link_to 'Ingredients Page', '/ingredients' %>
    </div>
  </div>

  <div class="container">
    <h2>All the answers in one place</h2>
    <h3>Frequent Questions</h3>
    <div class="index-faq left">
        <h2>Choose A Category</h2>
        <hr>

    </div>
    <div class="index-faq right">
        <h2>Juices</h2>
        <hr>

    </div>
  </div>

  <div class="container">
    <div class="index-contact left">
        <h2>What's on your mind?</h2>
      <hr>
      <p>Still have a question? well fuck you.</p>
    </div>
    <div class="index-contact right">
        <!-- here will be a form -->
    </div>
  </div>

</div>
