<div id="landing-container" class="transition-all">

  <h1 style="position: fixed">rijuice</h1>

  <div id="social-container" class="transition-all">
    <div class="icons">
      <a href="http://facebook.com/rijuicefam" target="_blank"><i class="fa fa-facebook-official"></i></a>
      <a href="http://instagram.com/rijuicefam" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="http://rijuice.tumblr.com" target="_blank"><i class="fa fa-tumblr"></i></a>
      <a href="http://twitter.com/rijuicefam" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="mailto:info@rijuice.com"><i class="fa fa-envelope-o "></i></a>
      <% if is_mobile? %>
          <a href="tel://1-717-305-0742"><i class="fa fa-phone"></i></a>
      <% else %>
          <a><i class="fa fa-phone"></i>

            <div id="span-sur"><span>717-305-0742</span></div>
          </a>
      <% end %>
    </div>
  </div>

  <div class="slide-container">
    <h2 class="button">Join the Newsletter</h2>

    <div id="signupform">
      <h3>Sign up for information, promotions, and events</h3>
      <p id="error-box">Enter Your Email</p>
      <%= form_tag '/landing', remote: true, id: 'new_user',data: {type: 'text'} do %>
          <%= email_field_tag :email, nil, placeholder: 'EMAIL', title: 'email' %>
          <%= submit_tag 'SUBMIT', :class => 'button' %>
      <% end %>
    </div>
  </div>

  <div class="container welcome">
    <div class="wrapper">
      <%= image_tag 'header_logo@2x.png' %>
      <h1 style="font-size: 3em;">RIJUICE</h1>

      <h3>Life begins from within.</h3>
    </div>
  </div>

</div>
