<%= stylesheet_link_tag 'landing' %>

<div id="landing-container" class="transition-all">

  <div id="social-container" class="transition-all">
    <div class="icons">
      <a href="http://facebook.com/rijuicefam" target="_blank"><i class="fa fa-facebook-official"></i></a>
      <a href="http://instagram.com/rijuicefam" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="http://rijuice.tumblr.com" target="_blank"><i class="fa fa-tumblr"></i></a>
      <a href="http://twitter.com/rijuicefam" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="mailto:info@rijuice.com"><i class="fa fa-envelope-o "></i></a>
      <% if is_mobile? %>
            <a href="tel://1-717-305-0742"><i class="fa fa-phone"></i></a>
      <% else %>
          <a><i class="fa fa-phone"></i><div id="span-sur"><span>717-305-0742</span></div></a>
      <% end %>
    </div>
  </div>

  <div class="container welcome">
    <div class="wrapper">
      <%= image_tag 'header_logo@2x.png' %>
      <h1 style="font-size: 3em;">RIJUICE</h1>

      <h3>Life begins from within.</h3>
    </div>

    <h2>Coming Soon</h2>
  </div>

  <div id="throwing-fucking-shade"></div>

</div>
