<div class="section-header"></div>

<div id="night-container">

  <div class="container welcome white">
    <div class="wrapper">
      <%= image_tag 'header_logo@2x.png' %>
      <h1>WELCOME TO RIJUICE</h1>

      <h3>Raise Your Vibration.</h3>
    </div>
  </div>

</div>
