$('#notification-box').append("<div class='login-notice'><%= flash[:notice].to_json.chomp('"').reverse.chomp('"').reverse %></div>");
notification('notify')

<% if logged_in? %>
$('#login-container').fadeOut(200)
$('#login-button').fadeOut(200).remove()

$('#header-float .content').append('<div class="button session" id="logout-button">Logout</div>')

bindLogoutButton()


$('#password').val('')
$('#email').val('')

<% else %>
    $('#password').val('')
<% end %>