<div class="container signup">

  <h1>Plug In</h1>

  <div class="island-lord">
    <%= render 'signup' %>
  </div>

</div>

<script>
  if ($(window).scrollTop() == 0)
    $("html, body").animate({ scrollTop: "50px" }, 900);
</script>
