<!--<script type="text/javascript" src="https://js.stripe.com/v2/"></script>-->

<div id="form-step-1">
  <%= render 'address_form' unless logged_in? %>
</div>

<div id="form-step-2" <% unless logged_in? %>style="display: none"<% end %>>
  <%= render 'pass_form' unless logged_in? %>
</div>

<div id="form-step-3" <% unless logged_in? %>style="display: none"<% end %>>
  <%= render 'payment_form' %>
</div>
