<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<%= javascript_include_tag "carts" %>



<div class="form step-1">
<%= render 'address_form' unless logged_in? %>
</div>

<div class="form step-2"  style="display: none">
  <%= render 'pass_form' unless logged_in? %>
</div>

<div class="form step-3" style="display: none">
<%= render 'payment_form' %>
</div>
