<div id="cart-container">
  <div class="thing push-shit">
    Total Cost:
    <%= @cart.total_cost%>
<br>
    <% @cart.line_items.each do |l| %>
        <% product =  @cart.find_product(l.product_id) %>
        <%= product.name %>
        <%= product.price %>
        <br>
    <% end %>


    <%= link_to 'Checkout', action: 'checkout' %></div>

</div>