$tablet: 1000px;
$phoneLarge: 650px;
$phone: 450px;
$phoneSmall: 375px;

#contact-container {

  .page-header {
    top: 30px;
    position: relative;
    background: image-url('contact/contact_bg_2.jpg');
    height: 170px;
    @media screen and (max-width: 1440px) {
      background-size: 1440px 100%;
      background-position: 50% 0;
    }
    h1, h3 {
      top: 60px;
      position: relative;
      color: white;
      margin-top: 25px;
    }
    h1 {
      float: left;
      left: 120px;
      @media all and (max-width: $tablet) {
        left: 20px;
      }
      @media all and (max-width: $phoneLarge) {
        left: 10px;
      }
    }
    h3 {
      float: right;
      right: 150px;
      @media all and (max-width: $tablet) {
        right: 50px;
      }
      @media all and (max-width: $phoneLarge) {
        right: 10px;
      }
      span {
        font-weight: 800;
      }
    }
  }

  .contact-nav {
    text-align: center;
    .nav-item {
      display: inline-block;
      margin: 0 15px;
      @media all and (max-width: $phoneLarge) {
        margin: 0 5px;
      }
      h2 {
        font-size: 18px;
        @media all and (max-width: $phoneLarge) {
          font-size: 14px;
        }
      }
      hr {
        display: none;
        width: 105%;
        margin-left: -4%;
        border: none;
        border-bottom: 1px solid black;
      }
    }
  }

  .map {
    width: 100%;
    height: 500px;
    background: black;
    top: 40px;
    position: relative;
  }

  .map-cover {
    width:1700px;
    @media all and (max-width: 1700px) {
      width: 100%;
    }
    height: 500px;
    background: black;
    z-index: 2;
    position: absolute;
    top: 589px;
    opacity: 0.1;
    @media all and (max-width: $phoneLarge) {
      top: 583px;
    }
    @media all and (max-width: $phone) {
      top: 627px;
    }
    transition-duration: 0.35s;
    transition-timing-function: ease-in;
    &:hover {
      transition-duration: 0.35s;
      transition-timing-function: ease-in;
      box-shadow: 0px 0px 3em #FFD700 inset;
      opacity: 0.4;
    }
  }

  .container {
    width: 100%;
    height: auto;
  }

  .wrapper {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    .left-align {
      text-align: left;
    }
    hr {
      width: 100%;
    }
  }

  .container.intro {
    min-height: 280px;
    padding-top: 40px;
    .wrapper {
      margin-top: 40px;
    }
    p {
      width: 70%;
      margin: 50px auto 0;
      @media all and (max-width: $phoneLarge) {
        width: 90%;
      }
    }
  }

  .container.retail, .container.pickup {
    .wrapper {
      margin-top: 160px;
    }
    .img-hold {
      top: 20px;
      position: relative;
      height: 390px;
      width: 100%;
      background: black;
      float: left;
    }
    .location {
      width: 200px;
      text-align: left;
      display: inline-block;
      margin: 0 3%;
      font-family: Dosis;
      font-weight: 800;
      top: 50px;
      position: relative;
      hr {
        width: 50px;
        margin-left: 0px;
        margin-bottom: 25px;
        border: none;
        border-bottom: 1px solid black;
      }
      h3 span {
        color: grey;
        font-weight: 100;
      }
      .button {
        border-width: 2px;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1px;
        width: 120px;
      }
    }
    .address, .hours {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: grey;
    }
    h3 {
      font-weight: 700;
    }
    p {
      color: black;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      margin-top: 35px;
    }
    img {
      width: 250px;
      position: relative;
      left: 320px;
      top: -300px;
    }
  }

  .container.retail {
    min-height: 918px;
    @media all and (max-width: 1340px) {
      min-height: 1240px;;
    }
    @media all and (max-width: $tablet) {
      min-height: 1218px;
    }
    @media all and (max-width: $phone) {
      min-height: 1918px;
    }

    .location {
      @media all and (max-width: $tablet) {
        width: 150px;
      }

    }
  }

  .container.pickup {
    background: image-url('contact/contact_bg_1.jpg');
    min-height: 645px;

    @media all and (max-width: 1340px) {
      min-height: 845px;;
    }
    @media all and (max-width: $phone) {
      min-height: 1245px;
    }
    .wrapper {
      margin-top: 80px;
      padding-top: 100px;
      @media all and (max-width: $tablet) {
        margin-top: 0px;
      }
    }
    @media screen and (max-width: 1440px) {
      background-size: 1440px 100%;
      background-position: 50% 0;
    }
    h1 {
      color: white;
    }
    span {
      font-size: 14px;
      font-style: italic;
      font-weight: 100;
      letter-spacing: 0px;
      text-transform: none;
      margin-left: 4%;
    }
    .address, .hours, p, h2, .button {
      color: white;
    }
    hr {
      border-bottom: 1px solid white;
    }
    h3 {
      color: white;
    }
    .location {
      margin: 0 7%;
      @media all and (max-width: $phoneLarge) {
        width: 150px;
        margin: 0px 4%;
      }
      hr {
        border-bottom: 1px solid white;
      }
    }
  }

  .container.email {
    min-height: 700px;
    h3 {
      font-weight: 700;
    }
    @media all and (max-width: $phoneLarge) {
      text-align: center;
      min-height: 830px;
    }
    .wrapper {
      margin-top: 100px;
    }
    .contact-successful {
      display: none;
      min-height: 200px;
      position: relative;
      left: -80px;
      text-align: left;
      width: 70%;
    }
  }

  .general-contact {
    width: 15%;
    text-align: left;
    display: inline-block;
    font-family: Dosis;
    text-transform: uppercase;
    color: grey;
    top: -243px;
    position: relative;
    @media all and (max-width: $tablet) {
      top: -235px;
    }
    @media all and (max-width: $phoneLarge) {
      display: block;
      width: 100%;
      top: 0px;
    }
    hr {
      width: 50px;
      margin-left: 0px;
      border: none;
      border-bottom: 1px solid black;
    }
  }
  .social {
    @media all and (max-width: $phoneLarge) {
      margin-bottom: 15px;
    }
    .fa{
      margin-right: 10px;
    }
  }

}

#contact-form {
  min-height: 200px;
  position: relative;
  left: -80px;
  text-align: left;
  width: 70%;
  display: inline-block;
  font-family: Dosis;
  @media all and (max-width: $phoneLarge) {
    display: block;
    left: 0;
    width: 100%;
    height: auto;
    top: 0;
  }
  .button {
    background: white;
    padding: 10px 30px;
    &:hover {
      background: black;
      color: white;
    }
  }
  .unit {
    display: inline-block;
    width: 33%;
    padding: 5px 20px 30px 0px;
    label {
      display: block;
      text-transform: uppercase;
    }
    textarea {
      line-height: 1.5em;
      resize: none;
    }
    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid grey;
      line-height: 1.2em;
      padding-top: 10px;
    }
    @media all and (max-width: $tablet) {
      display: block;
    }
  }
  .line.one .unit{
    @media all and (max-width: $tablet) {
      width: 90%;
    }
  }
  .line.one .unit.subject {
    width: 90%;
  }
  .line.two {
    .unit {
      width: 96%;
    }
  }
}

#content {
  width: 100%;
}