$tablet: 1000px;
$phoneLarge: 650px;
$phone: 450px;
$phoneSmall: 375px;

#contact-container{

  .page-header{
    top: 30px;
    position: relative;
    background: black;
    height: 150px;
    h2, h3{
      color: #ffffff;
      top: 60px;
      position: relative;
      font-weight: 100;
    }
    h2{
      float: left;
      left: 120px;
      letter-spacing: 2px;
      @media all and (max-width: $tablet) {
        left: 20px;
      }
    }
    h3{
      margin-top: 24px;
      float: right;
      right: 150px;
      letter-spacing: 1px;
      @media all and (max-width: $tablet) {
        right: 50px;
      }
      @media all and (max-width: $phoneLarge) {
        display: none;
      }
      span{
        font-weight: 800;
      }
    }
  }

  .contact-nav{
    text-align: center;
    .nav-item {
      display: inline-block;
      margin: 0 15px;
      @media all and (max-width: $phoneLarge) {
        margin: 0 5px;
      }
      h2{
        font-size: 18px;
        @media all and (max-width: $phoneLarge) {
          font-size :14px;
        }
      }
      hr{
        display: none;
        width: 105%;
        margin-left: -4%;
        border: none;
        border-bottom: 1px solid black;
      }
    }
  }

  .container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    .left-align{
      text-align: left;
    }
    hr{
      width: 100%;
    }
  }

  .container.intro{
    height: 200px;
    padding-top: 40px;
    p{
      width: 50%;
      margin: 0 auto;
      line-height: 1.4em;
      @media all and (max-width: $phoneLarge) {
        width:90%;
      }
    }
  }

  .container.retail, .container.pickup{
    .img-hold{
      height: 300px;
      width: 100%;
      background: black;
      float: left;
    }
    .location{
      width: 200px;
      text-align: left;
      display: inline-block;
      margin: 0 3%;
      hr{
        width: 50px;
        margin-left: 0px;
        margin-bottom: 25px;
        border: none;
        border-bottom: 1px solid black;
      }
      .button{
        border-width: 2px;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1px;
        width: 120px;
      }
    }
    .address, .hours{
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color:grey;
    }
    p{
      color: black;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      margin-top: 35px;
    }
    img{
      width: 250px;
      position: relative;
      left: 320px;
      top: -300px;
    }
  }

  .container.pickup{
    span{
      font-size: 14px;
      font-style: italic;
      font-weight: 100;
      letter-spacing: 0px;
      text-transform: none;
      margin-left: 4%;
    }
  }

  .container.email{
    @media all and (max-width: $phoneLarge) {
      text-align: center;
    }
  }

  .general-contact{
    width: 15%;
    text-align: left;
    display: inline-block;
    font-family: Dosis;
    text-transform: uppercase;
    color:grey;
    padding-bottom: 20px;
    @media all and (max-width: $phoneLarge) {
      display: block;
      width: 100%;
    }
    hr{
      width: 50px;
      margin-left: 0px;
      border: none;
      border-bottom: 1px solid black;
    }
  }
}

#contact-form{
  height: 200px;
  position: relative;
  left: -80px;
  top: -30px;
  text-align: left;
  width: 70%;
  display: inline-block;
  font-family: Dosis;
  @media all and (max-width: $phoneLarge) {
    display: block;
    left: 0;
    width: 100%;
    height: auto;
    top: 0;
  }
  .unit{
    display: inline-block;
    width: 30%;
    padding: 5px 20px 30px 0px;
    label{
      display: block;
      text-transform: uppercase;
    }
    input{
      width: 100%;
      border: none;
      border-bottom: 1px solid grey;
      line-height: 1.2em;
      padding-top: 10px;
    }
  }
  .line.two{
    .unit{
      width: 96%;
    }
  }
}