@import 'variables';

html, body {
  width: 100%;
  background-color: #fff;
}

body {
  overflow-x: hidden;
  max-width: 1700px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: #181818;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-align: center;
  letter-spacing: 0.4em;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 21px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.18em;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: grey;
}

p {
  color: #919191;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

hr {
  width: 90%;
}

.clearfix {
  clear: both;
}

.button {
  border: 1px solid;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #181818;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  transition-duration: 0.07s;
  transition-timing-function: ease-in;
  &:hover {
    background: black;
    color: white;
  }
}

.little-ital {
  font-style: italic;
}

.white {
  color: white;
}

.grey {
  color: #a4a4a4;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1141px;
}

//global elements
#site-wrapper {
  box-shadow: 0 0 10px #ccc;
}



#footer {
  background-color: #181818;
  height: 500px;
  color: white;
  text-align: center;
  background-size: 100% 100%;
  min-height: 500px;
  font-family: Dosis, sans-serif;
  overflow-x: hidden;
  &.product {
    width: 79%;
  }
  @media all and (max-width: $phoneLarge) {
    height: 1000px;
  }
  .wrapper {
    width: 87%;
  }
  hr {
    width: 100%;
    @media all and (max-width: $phoneLarge) {
      display: none;
    }
  }
  .top {
    height: 350px;
    position: relative;
    top: 50px;
  }
  .foot-container {
    position: relative;
    width: 20%;
    text-align: left;
    @media all and (max-width: $phoneLarge) {
      text-align: center;
      display: block;
      width: 95%;
    }
    h2 {
      position: relative;
      text-align: left;
      font-size: 20px;
      color: white;
      @media all and (max-width: $phoneLarge) {
        text-align: center;
      }
    }
    .foot-item {
      padding: 5px;
      @media all and (max-width: $phoneLarge) {
        display: inline-block;
      }
    }
  }
  .foot-container.links {
    top: -15px;
    margin: 0 auto;
    @media all and (max-width: $tablet) {
      top: -57px;
    }
    @media all and (max-width: $phoneLarge) {
      top: 0;
    }
  }
  .foot-container.order {
    margin: 0 auto;
    @media all and (max-width: $tablet) {
      top: -42px;
    }
    @media all and (max-width: $phoneLarge) {
      top: 0;
    }
  }
  .foot-container.insta {
    top: -8px;
    margin: 0 auto;
    @media all and (max-width: 1225px) {
      width: 25%;
    }
    @media all and (max-width: $phoneLarge) {
      width: 100%;
    }
    img {
      width: 80px;
    }
  }
  .foot-container.contact {
    top: -30px;
    padding-left: 10%;
    margin: 0 auto;
    @media all and (max-width: $tablet) {
      top: -73px;
    }
    @media all and (max-width: $phoneLarge) {
      top: 0;
    }
    div {
      color: grey;
    }
    @media all and (max-width: $tablet) {
      padding-left: 0;
    }
  }
  .bottom {
    text-align: left;
    @media all and (max-width: $phoneLarge) {
      top: 70px;
      position: relative;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    a {
      position: relative;
    }
    img {
      width: 50px;
      display: inline-block;
      position: relative;
      border-radius: 25px;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      @media all and (max-width: $phoneLarge) {
        left: 0;
      }
      &:hover {
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        box-shadow: 0px 0px 1em #FFD700 inset;
      }
      &:hover + h3 {
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        color: #FFD700;
      }
    }
    h3 {
      display: inline-block;
      position: relative;
      color: grey;
      letter-spacing: 2px;
      top: -16px;
      left: 5px;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
    }
    .button {
      padding: 5px 40px;
      border: 1px solid white;
      color: white;
      width: 190px;
      float: right;
      position: relative;
      text-align: center;
      top: 10px;
      margin: 0 auto;
      @media all and (max-width: $phoneLarge) {
        float: none;
        width: 150px;
      }
    }
  }

}

#footer-foot {
  width: 100%;
  position: relative;
  height: 40px;
  background: black;
  line-height: 2.8em;
  color: grey;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  font-family: Dosis, sans-serif;
  @media all and (max-width: $phoneLarge) {
    font-size: 12px;
  }
}



.container.signup {
  .island-lord {
    text-align: center;
  }
  .island-form {
    border: 1px solid black;
    padding: 50px;
    border-radius: 5px;
    width: 65%;
    display: block;
    position: relative;
    margin: 0 auto 140px;
    text-align: center;
    &.one {

    }
    h2 {
      font-size: 2em;
      margin-top: -15px;
    }
    form {
      padding: 5px;
      label {
        text-transform: uppercase;
      }
      p {
        input {

          width: 70%;
          line-height: 1.2em;
          font-size: 1.4em;

        }
      }
      .button {
        width: 130px;
        margin: 0 auto;
        padding: 4px;
        padding-top: 8px;
        top: 10px;
        position: relative;
        input {
          width: 90px;
          background: transparent none repeat scroll 0% 0%;
          border: medium none;

        }
      }
    }
    h2 {
      font-weight: 800;
      font-size: 1.3em;
    }
  }
}

#notification-box {
  display: none;
  position: fixed;
  top: 125px;
  left: 80px;
  width: 280px;
  height: 100px;
  z-index: 900;
  background: silver;
  opacity: 0.9;
  border-radius: 5px;
  padding: 13px;
  text-transform: uppercase;
  .login-notice {
    display: inline-block;
    position: fixed;
    line-height: 1.2em;
    color: black;
    font-weight: 800;
    width: 280px;
    font-family: "Open Sans", sans-serif;

  }
}

#signup-box {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  .signup {
    margin: 60px auto 50px;
    width: 45%;
    background: #F5F5F5;
    top: 50px;
    position: relative;
    padding-top: 40px;
    border-radius: 10px;
    height: 1350px;
  }
}

.push-shit {
  position: relative;
  top: 100px;
  margin-bottom: 100px;
}

.transition-all {
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.transition-med {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.transition-slow {
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.half-opaque {
  opacity: 0.5;
}

.force-p {
  color: #919191;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}
