$tablet: 1000px;
$phoneLarge: 650px;
$phone: 450px;
$phoneSmall: 375px;

.push-shit{position: relative;
  top: 100px;
  margin-bottom: 100px;}

@font-face {
  font-family: 'Dosis';
  src: font-url('Dosis/Dosis-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open_Sans';
  src: font-url('Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

.transition-all {
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}

.store-closed-order {
  width: 85%;
  background: black;
  color: white;
  &::after {
    content: 'Store Coming Soon'
  }
}

.store-closed-find {
  width: 230px;
  background: black;
  &::after {
    content: 'Store Coming Soon'
  }
}

.force-p {
  color: #919191;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

html, body {
  width: 100%;
  height: auto;
  background-color: #fff;
}

body {
  overflow-x: hidden;
  width: auto;
  max-width: 1700px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

h1 {
  text-align: center;
  font-family: 'Dosis';
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 18px;
  font-weight: 700;
  color: #181818;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: 'Dosis';
  text-transform: uppercase;
  color: #181818;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: 'Dosis';
  text-transform: uppercase;
  color: #181818;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.18em;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: grey;
}

p {
  color: #919191;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

hr {
  width: 90%;
}

.clearfix {
  clear: both;
}

.small-hr {
  width: 10%;
}

.button {
  border: 1px solid;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #181818;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  &:hover {
    background: black;
    color: white;
  }
}

.little-ital {
  font-style: italic;
}

.white {
  color: white;
}

.grey {
  color: #a4a4a4;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1141px;
}

#site-wrapper {
  box-shadow: 0px 0px 10px #ccc;
}

#header-fixed {
  background: none repeat scroll 0% 0% lightgrey;
  height: 30px;
  position: absolute;
  width: 100%;
  top: 0;
  font-family: 'Dosis';
  text-align: center;
  a {
    left: 250px;
    position: relative;
    margin-right: 40px;
  }
}

#header-float {
  position: fixed;
  height: 50px;
  background: whitesmoke;
  max-width: 1700px;
  width: 100%;
  z-index: 3;
  font-family: 'Dosis';
  .content {
    text-align: center;
    @media screen and (max-width: $tablet) {
      text-align: none;
    }
    .nav-item {
      display: inline-block;
      position: absolute;
      top: 20px;
      margin-right: 40px;
      font-size: 16px;
      text-align: left;
      padding: 0 10px 10px 10px;
      @media screen and (max-width: $phone) {
        top: 13px;
      }
      a {
        padding: 2px 5px;
        border-radius: 2px;
      }
      .nav-category:hover {
        color: #fff;
        background: #939393;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
      }
      &.home {
        @media screen and (max-width: $tablet) {
          left: 32%;
        }
        @media screen and (max-width: $phoneLarge) {
          top: 15px;
        }
        @media screen and (max-width: $phoneSmall) {
          top: 13px;
          left: 31%;
        }
      }
      &.purchase {
        right: 33%;
        @media screen and (max-width: 1200px) {
          right: 31%;
        }
        @media screen and (max-width: $tablet) {
          display: block;
          left: 45%;
          right: 0;
        }
        @media screen and (max-width: $phoneLarge) {
          top: 15px
        }
      }
      &.contact {
        right: 26%;
        @media screen and (max-width: 1200px) {
          right: 24%;
        }
        @media screen and (max-width: $tablet) {
          display: block;
          left: 65%;
          right: 0;
        }
        @media screen and (max-width: $phoneLarge) {
          top: 15px
        }
      }
    }
    .nav-item.logo {
      float: left;
      left: 140px;
      top: 6px;
      @media screen and (max-width: $tablet) {
        left: 0;
      }
      @media screen and (max-width: $phone) {
        width: 0;
      }
      img {
        width: 150px;
        margin-right: 40%;
        @media screen and (max-width: $phone) {
          width: 90px;
          margin-top: 8px;
        }
      }
    }
    .nav-item.purchase {
      @media screen and (max-width: $phone) {
        left: 47%;
      }
    }
    .nav-item.contact {
      @media screen and (max-width: $phone) {
        left: 70%;
      }
    }
    .button {
      float: right;
      margin-top: 5px;
      right: 100px;
      position: relative;
      padding: 5px 20px;
    }
  }
  ul {
    height: 50px;
    padding: 0;
    list-style: none;
    background: lightgray;
    position: relative;
    top: -6.5px;
    left: -7px;
    width: 505px;
    @media screen and (max-width: $tablet) {
      width: 250px;
      height: 150px;
    }
  }
  ul li {
    width: 105px;
    text-align: left;
    line-height: 30px;
    display: inline-block;
    padding: 10px;
    box-shadow: 0px 0px 0em black inset;
    a:hover {
      box-shadow: 0px 30px 0.011em black inset;
      transition-duration: 0.2s;
      transition-timing-function: ease-in;
    }
  }
  ul {
    display: none;
  }
  .nav-item:hover ul {
    display: block;
  }
}

#footer {
  background-color: #181818;
  height: 500px;
  color: white;
  text-align: center;
  background-size: 100% 100%;
  min-height: 500px;
  font-family: Dosis;
  overflow-x: hidden;
  @media all and (max-width: $phoneLarge) {
    height: 1000px;
  }
  .wrapper {
    width: 87%;
  }
  hr {
    width: 100%;
    @media all and (max-width: $phoneLarge) {
      display: none;
    }
  }
  .top {
    height: 350px;
    position: relative;
    top: 50px;
  }
  .foot-container {
    position: relative;
    width: 20%;
    text-align: left;
    @media all and (max-width: $phoneLarge) {
      text-align: center;
      display: block;
      width: 95%;
    }
    h2 {
      position: relative;
      text-align: left;
      font-size: 20px;
      color: white;
      @media all and (max-width: $phoneLarge) {
        text-align: center;
      }
    }
    .foot-item {
      padding: 5px;
      @media all and (max-width: $phoneLarge) {
        display: inline-block;
      }
    }
  }
  .foot-container.links {
    top: -15px;
    margin: 0 auto;
    @media all and (max-width: $tablet) {
      top: -57px;
    }
    @media all and (max-width: $phoneLarge) {
      top: 0;
    }
  }
  .foot-container.order {
    margin: 0 auto;
    @media all and (max-width: $tablet) {
      top: -42px;
    }
    @media all and (max-width: $phoneLarge) {
      top: 0;
    }
  }
  .foot-container.insta {
    top: -8px;
    margin: 0 auto;
    @media all and (max-width: 1225px) {
      width: 25%;
    }
    @media all and (max-width: $phoneLarge) {
      width: 100%;
    }
    img {
      width: 80px;
    }
  }
  .foot-container.contact {
    top: -30px;
    padding-left: 10%;
    margin: 0 auto;
    @media all and (max-width: $tablet) {
      top: -73px;
    }
    @media all and (max-width: $phoneLarge) {
      top: 0;
    }
    div {
      color: grey;
    }
    @media all and (max-width: $tablet) {
      padding-left: 0;
    }
  }
  .bottom {
    text-align: left;
    @media all and (max-width: $phoneLarge) {
      top: 70px;
      position: relative;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    a {
      position: relative;
    }
    img {
      width: 50px;
      display: inline-block;
      position: relative;
      border-radius: 25px;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      @media all and (max-width: $phoneLarge) {
        left: 0;
      }
      &:hover {
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        box-shadow: 0px 0px 1em #FFD700 inset;
      }
      &:hover + h3 {
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        color: #FFD700;
      }
    }
    h3 {
      display: inline-block;
      position: relative;
      color: grey;
      letter-spacing: 2px;
      top: -16px;
      left: 5px;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
    }
    .button {
      padding: 5px 40px;
      border: 1px solid white;
      color: white;
      width: 190px;
      float: right;
      position: relative;
      text-align: center;
      top: 10px;
      margin: 0 auto;
      @media all and (max-width: $phoneLarge) {
        float: none;
        width: 150px;
      }
    }
  }

}

#footer-foot {
  width: 100%;
  position: relative;
  height: 40px;
  background: black;
  line-height: 2.8em;
  color: grey;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  font-family: Dosis;
  @media all and (max-width: $phoneLarge) {
    font-size: 12px;
  }
}
