$tablet: 1000px;
$phoneLarge: 650px;
$phone: 450px;
$phoneSmall: 375px;

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes colorIn {
  from {
    background-color: gold;
  }
  to {
    background-color: white;
  }
}

@-moz-keyframes colorIn {
  from {
    background-color: gold;
  }
  to {
    background-color: white;
  }
}

@keyframes colorIn {
  from {
    background-color: gold;
  }
  to {
    background-color: white;
  }
}

#home-container {
  position: relative;
  top: 50px;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  .container {
    position: relative;
    width: 100%;
    min-height: 250px;
  }
  .container.welcome {
    height: 800px;
    background: image-url('index/header_bg.jpg');
    background-size: 100% 100%;
    @media screen and (max-width: 1440px) {
      background-size: 1440px 100%;
      background-position: 50% 0;
    }
    @media screen and (max-width: $phoneLarge) {
      top: -110px
    }
    opacity: 0;

    -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    .wrapper {
      top: 125px;
    }
    i{
      left: 48.5%;
      @media screen and (max-width: $tablet) {
        left: 47.5%;
      }
      @media screen and (max-width: $phoneLarge) {
        display: none;
      }
    }
    h1 {
      line-height: 40px;
      color: white;
      position: relative;
      font-size: 36px;
      letter-spacing: 0.5em;
      font-weight: 400;
      opacity: 0;

      -webkit-font-smoothing: antialiased;
      -webkit-animation-delay: 2s;
      -moz-animation-delay: 2s;
      animation-delay: 2s;

      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      animation-duration: 0.5s;

      text-shadow: 0 1px 0 #ccc,
      0 1px 0 #c9c9c9,
      0 1px 0 #bbb,
      0 1px 0 #b9b9b9,
      0 2px 0 #aaa,
      0 6px 1px rgba(0, 0, 0, .1),
      0 0 5px rgba(0, 0, 0, .1),
      0 1px 3px rgba(0, 0, 0, .3),
      0 3px 5px rgba(0, 0, 0, .2),
      0 5px 10px rgba(0, 0, 0, .25),
      0 10px 10px rgba(0, 0, 0, .2),
      0 20px 20px rgba(0, 0, 0, .15);
      @media screen and (max-width: $phoneLarge) {
        letter-spacing: 0.2em;
        margin: 0;
        top: 20px;
      }
    }
    h3 {
      position: relative;
      color: white;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 14px;

      -webkit-animation-delay: 2s;
      -moz-animation-delay: 2s;
      animation-delay: 2s;
      opacity: 0;
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-duration: 3.2s;
      -moz-animation-duration: 3.2s;
      animation-duration: 3.2s;
      @media screen and (max-width: $phoneLarge) {
        top: 15px;
      }
    }
    i {
      font-size: 56px;
      position: fixed;
      top: 93%;
      opacity: 0.5;
      color: #FFD700;
    }
    img {
      position: relative;
      width: 300px;
      margin-bottom: 10px;
      border-radius: 160px;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      @media screen and (max-width: $phoneLarge) {
        width: 250px;
        top: 25px;
      }
      &:hover {
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        box-shadow: 0px 0px 3em #FFD700 inset;
      }
    }
    .button {
      letter-spacing: 1px;
      font-size: 14px;
      border: none;
      padding: 10px 40px;
      top: 20px;
      position: relative;
      font-weight: 800;
      background-color: white;
      color: black;
      &:hover {
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
        border-radius: 10px;
      }
    }
  }

  .container.juice {
    min-height: 350px;
    .wrapper {
      top: 50px;
    }
    .shine-green {
      line-height: 1em;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      &:hover {
        transition-duration: 1.2s;
        transition-timing-function: ease-in;
        color: #3DBC47;
      }
    }
    img {
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-duration: 1s;
    }
    span {
      font-family: Dosis;
      position: relative;
      top: -10px;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #a4a4a4;
      line-height: 21px;
      -webkit-font-smoothing: antialiased;
    }
    p {
      color: darkgray;
      line-height: 0.5em;
    }
    img {
      width: 50px;
    }
  }

  .container.products {
    min-height: 650px;
    @media screen and (max-width: $phoneLarge) {
      min-height: 1580px;
    }
    .index-product-container {
      margin: 20px 20px;
      display: inline-block;
      width: 300px;
      height: 500px;
      @media screen and (max-width: $phone) {
        margin: 0 0 10px 0;
      }
      .index-product {
        text-align: center;
        border: 1px solid #a4a4a4;
        font-family: Dosis;
        font-weight: 100;
        &:hover {
          transition-duration: 0.2s;
          transition-timing-function: ease-in;
          border: 1px solid black;
        }
        p {
          margin: 0;
        }
        img {
          padding: 10px
        }
        h4 {
          font-style: italic;
          font-size: 20px;
          font-family: Dosis;
          font-weight: 100;
          margin: 0;
        }
        span {
          display: block;
          font-family: Dosis;
          font-weight: 100;
        }
        .thin-grey {
          border: 1px solid grey;
          border-bottom: 1px;
          width: 70%;
        }
        .button {
          width: 65%;
          margin: 50px auto;
          border: 2px solid;
        }
        a {
          display: block;
        }
      }
    }
    .jump-products {
      width: 200px;
      margin: 0 auto;
      position: relative;
      top: 80px;
      a {
        display: inline-block;
        color: #181818;
      }
    }
  }

  .container.who-we-are {
    background: image-url('index/home_bg3.jpg');
    background-size: 100% 100%;
    min-height: 638px;
    @media screen and (max-width: 1440px) {
      background-size: 1440px 100%;
      background-position: 50% 0;
    }
    .wrapper {
      top: 170px;
      width: 60%;
      line-height: 1.5em;
      @media all and (max-width: $tablet) {
        width: 80%;
      }
      h1 {
        color: white;
      }
      p {
        color: white;
      }
      a {
        padding: 10px 50px;
        background: whitesmoke;
        top: 40px;
        position: relative;
        color: black;
        font-weight: 800;
        &:hover {
          transition-duration: 0.1s;
          transition-timing-function: ease-in;
          border-radius: 10px;
        }
      }
    }
  }

  .container.whats-inside {
    background: image-url('index/home_flavors_bg.jpg') no-repeat;
    background-size: 100% 850px;
    min-height: 1220px;
    font-family: Dosis;
    background-color: #F7F7F7;
    @media screen and (max-width: 1440px) {
      background-size: 1440px 850px;
      background-position: 50% 0;
    }
    @media screen and (max-width: $phoneLarge) {
      min-height: 1480px;
    }
    @media screen and (max-width: $phone) {
      min-height: 1800px;
    }
    span {
      right: 40px;
      float: right;
      position: relative;
    }
    .wrapper {
      top: 150px;
      @media screen and (max-width: $tablet) {
        top: 50px;
      }
      h3 {
        margin-top: -10px;
        color: #a4a4a4;
        -webkit-font-smoothing: antialiased;
      }
      p {
        line-height: 1.8em;
      }
    }
    img {
      width: 50px;
    }
    ul {
      list-style-type: none;
      li {
        width: 100%;
        height: auto;
      }
    }
    .index-ingredients {
      display: inline-block;
      top: 50px;
      position: relative;
      &.left {
        float: left;
        width: 400px;
        left: 20px;
        text-align: left;
        @media all and (max-width: $tablet) {
          left: 0;
          width: 90%;
          text-align: center;
          float: none;
        }
        .big {
          margin-top: 130px;
          font-weight: 800;
          letter-spacing: 2px;
          @media all and (max-width: $tablet) {
            margin-top: 30px;
          }
        }
        hr {
          width: 70px;
          margin-left: 0;
          @media all and (max-width: $tablet) {
            display: none;
          }
        }
      }
      &.right {
        text-align: left;
        top: 30px;
        width: 61%;
        @media all and (max-width: $tablet) {
          width: 80%;
        }
        ul {
          @media all and (max-width: $phone) {
            padding: 20px;
          }
          .flavor {
            cursor: pointer;
            line-height: 3.5em;
            @media all and (max-width: $tablet) {
              line-height: 2.5em;
            }
            @media all and (max-width: $phone) {
              font-size: 0.9em;
            }
            &:hover {
              // background: lightgray;
            }
          }
          .description {
            display: none;
            height: auto;
            line-height: 2.5em;
            @media all and (max-width: $phone) {
              line-height: 1.2em;
            }
          }
          .force-p {
            line-height: 1.8em;
            @media all and (max-width: $phone) {
              font-size: 0.8em;
            }
          }
          li {
            position: relative;
            @media all and (max-width: $phone) {
              width: 100%;
            }
          }
        }
        hr {
          float: left;
          width: 99%;
        }
      }
    }
  }

  .container.stats {
    background: image-url('index/home_stat_bg.jpg');
    background-size: 100% 100%;
    min-height: 638px;
    font-family: Dosis;
    letter-spacing: 3px;
    @media screen and (max-width: 1440px) {
      background-size: 1440px 100%;
      background-position: 50% 0;
    }
    .wrapper {
      width: 100%;
      top: 100px;
      max-width: 1300px;
      @media all and (max-width: $tablet) {
        top: 90px;
      }
      @media all and (max-width: $phone) {
        top: 10px;
      }
      h1 {
        color: white;
      }
      .stat {
        display: inline-block;
        padding: 40px;
        width: 120px;
        font-weight: 100;
        @media screen and (max-width: 1270px) {
          padding: 28px;
        }
        @media all and (max-width: $phone) {
          padding: 10px;
        }
        .number {
          font-size: 50px;
          width: 120px;
          height: 74px;
          transition-duration: 0.2s;
          transition-timing-function: linear;
          @media all and (max-width: $tablet) {
            font-size: 34px;
            height: 40px;
          }
          @media all and (max-width: $phone) {
            font-size: 30px;
          }
          &:hover {
            transition-duration: 0.2s;
            transition-timing-function: linear;
            font-size: 58px;
            letter-spacing: 6px;
            @media all and (max-width: $tablet) {
              font-size: 38px;
            }
            @media all and (max-width: $phone) {
              font-size: 34px;
            }
          }
        }
      }
      .food {
        font-size: 14px;
        width: 140px;
        margin-left: -10px;
        transition-duration: 0.2s;
        transition-timing-function: linear;
      }
    }
  }

  .container.faq {
    min-height: 500px;
    padding: 50px 0;
    font-family: Dosis;
    .wrapper {
      width: 80%;
    }
    ul {
      list-style-type: none;
      li {
        width: 200px;
        height: 40px;
      }
    }
    h2 {
      color: black;
      letter-spacing: 2px;
    }
    h3 {
      color: #afafaf;
      font-size: 14px;
      font-weight: 100;
    }
    .index-faq {
      position: relative;
      display: inline-block;
      text-align: left;
      h2 {
        font-weight: 100;
      }
      #faq-categories li {
        cursor: pointer;
        @media all and (max-width: $tablet) {
          display: inline-block;
        }
      }
      ul {
        @media all and (max-width: $phone) {
          padding: 0;
        }
      }
      &.left {
        float: left;
        @media all and (max-width: $tablet) {
          width: 100%;
        }
        @media all and (max-width: $phone) {
          float: none;
        }
        hr {
          width: 70px;
          margin: 0;
        }
        ul {
          left: -50px;
          position: relative;
          margin-top: 33px;
          @media all and (max-width: $tablet) {
            left: 0;
            width: 435px;
            padding: 20px 0;
          }
          @media all and (max-width: $phone) {
            width: 235px;
            left: -20px;
          }
        }
        li {
          line-height: 2.5em;
          padding-left: 15px;
          &:hover {
            background: lightgray;
          }
          span {
            float: right;
            right: 10px;
            position: relative;
          }
        }
      }
      &.right {
        width: 61%;
        margin-left: 5%;
        @media all and (max-width: $tablet) {
          width: 100%;
          margin-left: 0;
        }
        h2 {
          position: relative;
        }
        hr {
          width: 70px;
          margin-left: 0;
        }
        ul {
          padding: 0;
        }
        li {
          width: 100%;
          line-height: 3.5em;
          @media all and (max-width: $tablet) {
            width: 90%;
          }
          &.question {
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            height: auto;
            @media all and (max-width: $phone) {
              line-height: 2em;
            }
            &:hover {
              background: whitesmoke;
            }
            span {
              float: right;
            }
            hr {
              margin: 0px;
              width: 100%;
            }
          }
          &.answer {
            height: auto;
            line-height: 1.5em;
            padding: 10px 0;
          }
        }
        .show-more {
          position: relative;
          @media all and (max-width: $phone) {
            left: 0;
          }
          i, h3{
            cursor: pointer;
          }
          h3 {
            display: inline-block;
            font-family: 'Dosis', sans-serif;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #181818;
            line-height: 18px;
            -webkit-font-smoothing: antialiased;
            padding: 0 15px;
          }
        }
      }
    }
  }

  .container.contact {
    font-family: Dosis;
    margin-top: 50px;
    .wrapper {
      width: 80%;
    }
    .index-contact {
      display: inline-block;
      text-align: left;
      hr {
        margin: 0;
        width: 80px;
      }
      &.left {
        float: left;
        position: relative;
        @media all and (max-width: $tablet) {
          left: 0;
        }
        p {
          width: 240px;
        }
      }
      &.right {
        width: 61%;
        @media all and (max-width: $tablet) {
          width: 100%;
        }
        form {
          top: 15px;
          position: relative;
        }
        .line {
          height: 50px;
          @media all and (max-width: $phoneLarge) {
            height: auto;
          }
          .unit {
            display: inline-block;
            width: 45%;
            &.two {
              left: 20px;
              position: relative;
              @media all and (max-width: $phoneLarge) {
                left: 0;
                margin-top: 20px;
                display: block;
              }
            }
            @media all and (max-width: $phoneLarge) {
              width: 92%;
            }
            label {
              display: block;
              text-transform: uppercase;
            }
            input {
              border: none;
              border-bottom: 1px solid grey;
              line-height: 2em;
              @media all and (max-width: $phoneLarge) {
               font-size: 14px;
              }
              @media all and (max-width: $phoneSmall) {
                font-size: 12px;
              }
            }
            &.three {
              width: 100%;
            }
          }
          &.one {
            input {
              width: 98%;
            }
          }
          &.two {
            top: 30px;
            position: relative;
            input {
              width: 90%;
            }
          }
        }
        .button {
          padding: 7px 50px;
          position: relative;
          top: 50px;
        }
        .inquiry-successful {
          display: none;
        }
      }
    }
    .pre-footer {
      background: image-url('index/home_prefooter_bg.jpg');
      @media screen and (max-width: 1440px) {
        background-size: 1440px 100%;
        background-position: 50% 0;
      }
      height: 445px;
    }
  }
}

#night-overlay {
  opacity: 0;
  width: 100%;
  height: 20%;
  background-color: black;
  display: none;
}
