#home-container {

  position: relative;
  top: 80px;
  width: 100%;
  text-align: center;

  .container {
    position: relative;
    width: 100%;
    min-height: 250px;
    background: green;
  }

  .container.welcome {
    height: 90vh;
    h1 {
      position: relative;
      top: 30px;
      letter-spacing: 5px;
    }
    h3 {
      position: relative;
      top: 8px;
    }
    img {
      position: relative;
      top: 50px;
      width: 200px;
    }
    .button {
      background: white;
      color: black;
      border: none;
      padding: 9px;
      top: 30px;
      position: relative;
      font-family: Open_Sans;
      font-weight: 800;
    }
  }

  .container.juice {
    img {
      width: 50px;
    }
  }

  .container.products {
    .index-product-container {
      display: inline-block;
      width: 300px;
      height: 500px;
      .index-product {
        text-align: center;
        border: 1px solid;
      }
    }
    a {
      display: block;
    }
  }

  .container.who-we-are {

  }

  .container.whats-inside {

  }

  .container.faq {

  }

  .container.contact {

  }

}
