@import 'variables';

.fade-in {
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

#home-container {
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  .container {
    position: relative;
    width: 100%;
    min-height: 250px;
  }

  .container.welcome {
    height: 800px;
    background: image-url('index/header_bg.jpg');
    background-size: 100% 100%;
    @media screen and (max-width: 1440px) {
      background-size: 1440px 100%;
      background-position: 50% 0;
    }
    @media screen and (max-width: $phoneLarge) {
      top: -110px
    }

    .wrapper {
      top: 125px;
    }

    h1 {
      line-height: 40px;
      color: white;
      position: relative;
      font-size: 36px;
      letter-spacing: 0.5em;
      font-weight: 400;
      opacity: 0;

      -webkit-font-smoothing: antialiased;
      -webkit-animation-delay: 2s;
      -moz-animation-delay: 2s;
      animation-delay: 2s;

      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      animation-duration: 0.5s;

      @media screen and (max-width: $phoneLarge) {
        letter-spacing: 0.2em;
        margin: 0;
        top: 20px;
      }
    }
    h3 {
      position: relative;
      color: white;
      font-weight: 800;
      letter-spacing: 2px;
      font-size: 14px;

      -webkit-animation-delay: 2s;
      -moz-animation-delay: 2s;
      animation-delay: 2s;
      opacity: 0;
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-duration: 3.2s;
      -moz-animation-duration: 3.2s;
      animation-duration: 3.2s;
      @media screen and (max-width: $phoneLarge) {
        top: 15px;
      }
    }
    i {
      font-size: 56px;
      position: fixed;
      top: 93%;
      opacity: 0.5;
      color: #FFD700;
    }
    img {
      position: relative;
      width: 300px;
      margin-bottom: 10px;
      border-radius: 160px;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      @media screen and (max-width: $phoneLarge) {
        width: 250px;
        top: 25px;
      }
      &:hover {
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        box-shadow: 0px 0px 3em #FFD700 inset;
      }
    }
    .button {
      letter-spacing: 1px;
      font-size: 14px;
      border: none;
      padding: 10px 40px;
      top: 20px;
      position: relative;
      font-weight: 800;
      background-color: white;
      color: black;
      &:hover {
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
        border-radius: 10px;
      }
    }
  }

  .container.juice {
    min-height: 350px;
    @media screen and (max-width: $phoneLarge) {
      top: -120px;
    }
    .wrapper {
      top: 50px;
    }
    .shine-green {
      line-height: 1em;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      &:hover {
        transition-duration: 1.2s;
        transition-timing-function: ease-in;
        color: #3DBC47;
      }
    }
    img {
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-duration: 1s;
    }
    span {
      font-family: Dosis;
      position: relative;
      top: -10px;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #a4a4a4;
      line-height: 21px;
      -webkit-font-smoothing: antialiased;
    }
    p {
      color: darkgray;
      line-height: 0.5em;
    }
    img {
      width: 50px;
    }
  }

  .container.products {
    min-height: 650px;
    top: -100px;
    @media screen and (max-width: $phoneLarge) {
      min-height: 1580px;
    }
    .index-product-container {
      margin: 20px 20px;
      display: inline-block;
      width: 300px;
      height: 500px;
      @media screen and (max-width: $phone) {
        margin: 0 0 10px 0;
      }
      .index-product {
        text-align: center;
        border: 1px solid #a4a4a4;
        font-family: Dosis;
        font-weight: 100;
        &:hover {
          transition-duration: 0.2s;
          transition-timing-function: ease-in;
          border: 1px solid black;
        }
        p {
          margin: 0;
        }
        img {
          padding: 10px
        }
        h4 {
          font-style: italic;
          font-size: 20px;
          font-family: Dosis;
          font-weight: 100;
          margin: 0;
        }
        span {
          display: block;
          font-family: Dosis;
          font-weight: 100;
        }
        .thin-grey {
          border: 1px solid grey;
          border-bottom: 1px;
          width: 70%;
        }
        .button {
          width: 65%;
          margin: 50px auto;
          border: 2px solid;
        }
        a {
          display: block;
        }
      }
    }
    .jump-products {
      width: 200px;
      margin: 0 auto;
      position: relative;
      top: 80px;
      a {
        display: inline-block;
        color: #181818;
      }
    }
  }

}
