$tablet: 1000px;
$phoneLarge: 650px;
$phone: 450px;
$phoneSmall: 375px;

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

body {
  width: auto;
  max-width: 1700px;
  margin: auto;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#site-wrapper {
  height: 100%;
  box-shadow: none;
}

#landing-container {
  width: 100%;
  text-align: center;
  height: 100%;
  min-height: 760px;
  max-height: 790px;
  position: relative;
  .container {
    position: relative;
    width: 100%;
    min-height: 250px;
  }
  .container.welcome {
    height: 100%;
    background: image-url('index/header_bg.jpg');
    background-size: 100% 100%;
    @media screen and (max-width: 1440px) {
      background-size: 1440px 100%;
      background-position: 50% 0;
    }
    @media screen and (max-width: $phoneLarge) {
      top: -90px;
    }

    .wrapper {
      top: 110px;
      @media screen and (max-width: $phoneLarge) {
        top: 140px;
      }
    }
    h3 {
      position: relative;
      color: white;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 14px;

      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;
      opacity: 0;
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-duration: 2.2s;
      -moz-animation-duration: 2.2s;
      animation-duration: 2.2s;
      @media screen and (max-width: $phoneLarge) {
        top: 15px;
      }
      &:hover {
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
        color: #FFD700;
      }
    }
    h1 {
      color: white;
    }
    img {
      position: relative;
      width: 300px;
      margin-bottom: 10px;
      border-radius: 160px;
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      @media screen and (max-width: $phoneLarge) {
        width: 250px;
      }
      &.gold-shadow {
        transition-duration: 3s;
        transition-timing-function: ease-in;
        box-shadow: 0 0 3em gold inset;
      }
    }
  }
  h2 {
    font-size: 18px;
    font-weight: 800;
    position: relative;
    width: 285px;
    margin: 0 auto;
    border: none;
    background: white;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier;
    @media screen and (max-width: $phoneLarge) {
      width: 100%;
    }
    &:hover {
      background: black;
      color: white;
    }
  }
  .invert-button {
    color: gold;
    background: black;
  }
  .slide-container {
    overflow: hidden;
    height: 420px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -webkit-transform: translate(-50%, 0px);
    width: 302px;
    padding: 0 10px;
    z-index: 10;
    @media screen and (max-width: $phoneLarge) {
      width: 100%;
      top: 0;
    }
  }
  #signupform {
    width: 286px;
    height: 440px;
    position: fixed;
    background: silver;
    top: -420px;
    padding: 9px;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    z-index: -1;
    opacity: 0.95;
    border: none;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier;
    background: -webkit-linear-gradient(#FFFFA9, #C0C0C0);
    background: -o-linear-gradient(#FFFFA9, #C0C0C0);
    background: -moz-linear-gradient(#FFFFA9, #C0C0C0);
    background: linear-gradient(#FFFFA9, #C0C0C0);
    &.op-out{
      -webkit-transition: opacity 4s cubic-bezier(0.22, 0.61, 0.36, 1);
      -moz-transition: opacity 4s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: opacity 4s cubic-bezier(0.22, 0.61, 0.36, 1);
      -ms-transition: opacity 4s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: opacity 4s ease-in-out;

      opacity: 0.6;
    }
    @media screen and (max-width: $phoneLarge) {
      width: 100%;
      padding: 0;
    }
    h3 {
      position: relative;
      top: 100px;
      font-weight: 800;
      font-size: 1.2em;
      line-height: 1.2em;
      padding: 5px;
      @media screen and (max-width: $phoneLarge) {
        padding: 0 50px !important;
      }
    }
    form {
      position: relative;
      top: 100px;
      input {
        padding: 10px;
        font-size: 20px;
        border: none;
        display: block;
        position: relative;
        margin: 0 auto;
      }
      .button {
        position: relative;
        top: 10px;
        width: 220px;
        height: 2em;
        text-transform: uppercase;
      }
    }

  }
  .push-signup-down {
    top: -35px !important;
  }

}

#social-container {
  position: absolute;
  width: 60px;
  border-radius: 5px;
  height: 315px;
  background: white none repeat scroll 0% 0%;
  z-index: 200;
  opacity: 0.4;
  top: 100px;
  left: 20px;
  @media screen and (max-width: $phoneLarge) {
    top: 550px;
    height: 60px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    left: 0;
  }

  &:hover {
    opacity: 0.7;
  }
  .icons {
    width: 100%;
    height: 100%;
    position: relative;
    a {
      width: 100%;
      height: 100%;
      position: relative;
      @media screen and (max-width: $phoneLarge) {
        width: 40px;
        display: inline-block;
      }

      i {
        font-size: 2em;
        display: block;
        margin: 30% auto;
        &:hover {
          color: #FFD700
        }
        &:hover ~ #span-sur {
          @media screen and (min-width: $tablet) {
            display: inline-block;
            background: white;
          }
        }
      }
      span {
        &:hover {
          color: silver;
          display: block;
          background: white;
        }
      }
    }
  }

}

#span-sur {
  display: none;
  position: relative;
  top: -60px;
  left: 60px;
  width: 115px;
  height: 50px;
  line-height: 3em;
  &:hover {
    display: block;
  }
}

#error-box {
  position: relative;
  top: 100px;
  line-height: 1em;
  color: #DADAB8;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.text-shadow {
  -webkit-transition: text-shadow 4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: text-shadow 4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: text-shadow 4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -ms-transition: text-shadow 4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: text-shadow 4s ease-in-out;

  text-shadow: 10px 10px 2px gold;


}
