@font-face {
  font-family: 'Dosis';
  src: font-url('Dosis/Dosis-Regular.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Open_Sans';
  src: font-url('Open_Sans/OpenSans-Regular.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

.transition-all {
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}

.store-closed-order {
  &::after {
    content: 'Order'
  }
  &:hover {
    &::after {
      content: 'Store Coming Soon'
    }
  }
}

.store-closed-find {
  &::after {
    content: 'Find Your Juice'
  }
  &:hover {
    &::after {
      content: 'Store Coming Soon'
    }
  }
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-family: 'Dosis';
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Dosis';
  text-transform: uppercase;
  color: #181818;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Dosis';
  text-transform: uppercase;
  color: #181818;
}

a {
  text-decoration: none;
  color: grey;
}

p {
  font-family: Dosis;
  color: #919191;
}

hr {
  width: 90%;
}

.clearfix {
  clear: both;
}

.small-hr {
  width: 10%;
}

.button {
  border: 1px solid;
  color: grey;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'Dosis';
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  &:hover {
    background: black;
    color: white;
  }
}

.little-ital {
  font-style: italic;
}

.white {
  color: white;
}

.grey {
  color: #a4a4a4;
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

#footer {
  background-color: #181818;
  height: 600px;
  color: white;
  text-align: center;
  background-size: 100% 100%;
  min-height: 500px;
  font-family: Dosis;
  .top {
    height: 350px;
    position: relative;
    top: 50px;
  }
  .foot-container {
    display: inline-block;
    position: relative;
    width: 20%;
    text-align: left;
    h2 {
      position: relative;
      text-align: left;
      font-size: 20px;
      color: white;
    }
    .foot-item {
      padding: 5px;
    }
  }
  .foot-container.links {
    left: -50px;
  }
  .foot-container.order {
    top: 25px;
    left: -50px;
  }
  .foot-container.insta {

  }
  .foot-container.contact {
    div {
      color: grey;
    }
  }
  .bottom {
    img {
      width: 50px;
      display: inline-block;
      position: relative;
      left: -400px;
    }
    h3 {
      display: inline-block;
      left: -380px;
      position: relative;
      color: grey;
      letter-spacing: 2px;
      top: -16px;
    }
    a {
      display: inline-block;
      position: relative;
      right: -400px;
    }
    .button {
      padding: 5px 40px;
      border: 1px solid white;
      color: white;
    }
  }
}

#header-fixed {
  background: none repeat scroll 0% 0% lightgrey;
  height: 30px;
  position: absolute;
  width: 100%;
  top: 0;
  font-family: 'Dosis';
  text-align: center;
  a {
    left: 250px;
    position: relative;
    margin-right: 40px;
  }
}

#header-float {
  //  position: absolute;
  position: fixed;
  height: 50px;
  background: white;
  width: 100%;
  // top: 30px;
  z-index: 2;
  font-family: 'Dosis';
  .content {
    text-align: center;
    .nav-item {
      display: inline-block;
      position: absolute;
      top: 20px;
      margin-right: 40px;
      font-size: 16px;
      text-align: left;
      padding: 0 10px 10px 10px;
      a {
        padding: 2px 5px;
        border-radius: 2px;
      }
      .nav-category:hover {
        color: #fff;
        background: #939393;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
      }
    }
    .nav-item.logo {
      float: left;
      left: 100px;
      top: 6px;
    }
    .button {
      float: right;
      margin-top: 5px;
      right: 100px;
      position: relative;
      padding: 5px 20px;
    }
  }
  ul {
    height: 50px;
    padding: 0;
    list-style: none;
    background: lightgray;
    position: relative;
    top: -6.5px;
  }
  ul li {
    width: 105px;
    text-align: left;
    line-height: 30px;
    display: inline-block;
    padding: 10px;
    box-shadow: 0px 0px 0em black inset;
    a:hover {
      box-shadow: 0px 30px 0.011em black inset;
      transition-duration: 0.2s;
      transition-timing-function: ease-in;
    }
  }
  ul {
    display: none;
  }
  .nav-item:hover ul {
    display: block;
  }
}
