@font-face {
  font-family: 'Dosis';
  src: font-url('Dosis/Dosis-Regular.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Open_Sans';
  src: font-url('Open_Sans/OpenSans-Regular.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

html, body {
  background: green;
  width: 100%;
  height: 100%;
}

body {
  height: 3000px;
}

h1 {
  text-align: center;
  font-family: 'Dosis';
}

h2 {
  font-family: 'Dosis';
  text-align: center;
}

h3 {
  font-family: 'Dosis';
}

a {
  text-decoration: none;
  color: grey;
}

hr {
  width: 90%;
}

.button {
  border: 1px solid;
  color: grey;
  padding: 5px;
}

.little-ital {
  font-style: italic;
}

#footer {
  background-color: black;
  height: 600px;
  color: white;
  text-align: center;
  .top {
    height: 350px;
    position: relative;
    top: 50px;
  }
  .foot-container {
    display: inline-block;
    position: relative;
    width: 20%;
    text-align: left;
    h2 {
      position: relative;
      text-align: left;
    }
    .foot-item {
      padding: 5px;
    }
  }
  .foot-container.links {
    left: -50px;
  }
  .foot-container.order {
    top: 25px;
    left: -50px;
  }
  .foot-container.insta {

  }
  .foot-container.contact {

  }
  .bottom {
    img {
      width: 50px;
      display: inline-block;
      position: relative;
      left: -400px;
    }
    h1 {
      display: inline-block;
      left: -400px;
      position: relative;
    }
    a {
      display: inline-block;
      position: relative;
      right: -400px;
    }
  }
}

#header-fixed {
  background: none repeat scroll 0% 0% lightgrey;
  height: 30px;
  position: absolute;
  width: 100%;
  top: 0;
  font-family: 'Dosis';
  text-align: center;
  a {
    left: 200px;
    position: relative;
    margin-right: 40px;
  }
}

#header-float {
  position: absolute;
  height: 50px;
  background: white;
  width: 100%;
  top: 30px;
  z-index: 2;
  font-family: 'Dosis';
  .content {
    text-align: center;
    .nav-item {
      display: inline-block;
      position: relative;
      top: 20px;
      margin-right: 40px;
      font-size: 16px;
    }
    .nav-item.logo {
      float: left;
      left: 100px;
      top: 3px;
    }
  }
}
