$tablet: 1000px;
$phoneLarge: 650px;
$phone: 450px;
$phoneSmall: 375px;

#product-container, #cart-container {
  top: 30px;
  position: relative;

  .page-header {
    position: relative;
    background: image-url('contact/contact_bg_2.jpg');
    height: 170px;
    @media screen and (max-width: 1440px) {
      background-size: 1440px 100%;
      background-position: 50% 0;
    }
    h1, h3 {
      top: 60px;
      position: relative;
      color: white;
      margin-top: 25px;
    }
    h1 {
      float: left;
      left: 120px;
      @media all and (max-width: $tablet) {
        left: 20px;
      }
      @media all and (max-width: $phoneLarge) {
        left: 10px;
      }
    }
    h3 {
      float: right;
      right: 150px;
      @media all and (max-width: $tablet) {
        right: 50px;
      }
      @media all and (max-width: $phoneLarge) {
        right: 10px;
      }
      span {
        font-weight: 800;
      }
    }
  }

  .wrapper {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    .left-align {
      text-align: left;
    }
    hr {
      width: 100%;
    }
  }

  .container {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 50px;

    &.intro {
      width: 75%;
    }

    &.purchase {

      #add-to-cart{
        width: 50%;
        margin: 0 auto;
        position: relative;
      }

      #checkout{
        margin: 0px auto;
        bottom: 50px;
        position: absolute;
        width: 100%;
        text-align: center;
      }
    }
  }

}

#build-a-pack {
  width: 75%;
  height: auto;
  position: relative;
  background-color: #EAEAEA;
  border: 1px solid black;
  padding: 2%;
  .button{
    cursor: pointer;
  }
  .box {
    text-align: center;
    &.sizes{
      padding: 5px;
      .button {
        display: inline-block;
        width: 40%;
        height: 30px;
        margin: 0 2%;
      }
    }

    &.juices{

      .juice-detail{
        float: left;
        width: 32%;
        margin: 5px;
        .quantity{

        }
      }
    }
  }
}

#product-cart{
  position: fixed;
  right: 0;
  border: 1px solid black;
  height: 100%;
  background: white;
  width: 21%;
  top: 50px;
  z-index: 30;
  overflow: scroll;
  h2{
    padding: 10px;
  }
  #items{
    padding: 10px;
  }
  .pack-size{
    font-size: 1.5em;
    width: 80%;
  }
  .quantity, .name{
    margin-left: 5px;
  }
  .pack-size, .remove-item{
    display: inline-block;
  }
  .remove-item{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    i{
      padding: 5px;
    }
  }
}
