<div class="product-detail">
  <img src="<% @product.image %>">
  <div class="description">
    <% @product.description %>
  </div>
  <div class="quantity-select">

  </div>
</div>

<script>
    $('select').dropkick();
</script>
