<div id="product-cart" class="transition-all">

    <h2>YOUR CART</h2>

    <div id="items" class="container">

    </div>

  <div class="box checkout">
    <a href="/checkout">
      <div id="checkout" class="button">Checkout</div>
    </a>
  </div>

</div>
