<div id="product-container">

  <div class="page-header">
    <h1>PRODUCTS</h1>

    <h3>PURCHASE / INDEX<span></span></h3>
  </div>

  <div class="container intro">
    <div class="wrapper">
      <h1>PURCHASE JUICE INTRO COPY HERE</h1>

      <p>We like to think of our juice as a gateway to new experiences. Whether you're a customer, friend, or just want
        to
        say hi, we always love hearing from you. Just fill out our message form or stop in during business hours.</p>
    </div>
  </div>

  <!--<div class="product-nav">
    <div class="nav-item" data-num="1"><a href="#packs"><h2>PACKS</h2></a>
      <hr>
    </div>
    <div class="nav-item" data-num="2"><a href="#cleanses"><h2>CLEANSES</h2></a>
      <hr>
    </div>
  </div>-->


  <% if current_user != nil && current_user.active_cart != nil %>
      <a href="/cart">CART</a>
  <% end %>
  <a name="packs"></a>

  <%= render 'build_a_pack' %>

 <!-- <a name="cleanses"></a>

  <div class="container cleanses">
    <div class="wrapper">


    </div>
  </div>
  -->

</div>
