<div id="product-container">

  <div class="page-header">
    <h1>PRODUCTS</h1>

    <h3>PURCHASE / INDEX<span></span></h3>
  </div>

  <div class="container intro">
    <div class="wrapper">
      <h1>PURCHASE JUICE INTRO COPY HERE</h1>

      <p>We like to think of our juice as a gateway to new experiences. Whether you're a customer, friend, or just want
        to
        say hi, we always love hearing from you. Just fill out our message form or stop in during business hours.</p>
    </div>
  </div>

  <% if current_user != nil && current_user.active_cart != nil %>
      <a href="/cart">CART</a>
  <% end %>

  <div class="container pack">
    <div class="size-select">
      <div class="button">12-PACK</div>
      <div class="button">24-PACK</div>
    </div>

    <div class="product-box">
      <% Product.all.each do |p| %>
          <% @product = p %>
          <%= render 'build_a_pack', :locals => @p %>
      <% end %>
    </div>

    <div class="checkout"></div>

  </div>

</div>
