<div id="header-float">

  <div class="nav-item logo"><a href="/"><%= image_tag('nav_logo@2x.png') %></a></div>

  <div class="center-box">
    <div class="nav-item "><a href="/about" class="nav-category">ABOUT</a></div>
    <div class="nav-item "><a href="/market" class="nav-category">MARKET</a></div>
    <div class="nav-item "><a href="/contact" class="nav-category">CONTACT</a></div>
    <div class="nav-item "><a href="/faq" class="nav-category">FAQ</a></div>
  </div>

  <% if logged_in? %>
      <div class="button session" id="logout-button">Logout</div>
  <% else %>
      <div class="button" id="login-button">Login</div>
  <% end %>

  <%= render 'sessions/login' %>

</div>
